.vs/
obj/Debug/net48/Spiral_v3.0a.AssemblyInfo.cs
obj/Debug/net48/Spiral_v3.0a.AssemblyInfoInputs.cache
obj/Debug/net48/Spiral_v3.0a.assets.cache
obj/Debug/net48/Spiral_v3.0a.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
